
.modal-overlays {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.massage {
    position: absolute;
    top: 4rem;
    right: 2rem;
    background-color: red;
    height: 200px;
    width: 300px;
}